<section class="products-index">
  <header class="page-header">
    <h1>About</h1>
    <p>We are a group of biologists, environmentalists, and botanists who are passionate about making unique and beautiful plants available for the average consumer! We use our vast expertise and knowledge to ensure these plants are in the healthiest condition prior to shipping for your satisfaction! </br></br> We hope you love these plants as much as we do !</p>
  </header>
</section>